[2020-01-21 11:59] roidelapluie opened #1 "Hi there o/"
I see that this repo is quite recent.

Are you willing to accept third party contributions?

Thank you!

[2020-01-21 13:52] Nosmoht commented on #1
Hi @roidelapluie,

sure, we just didn't had the time to add contribution and licence information. Feel free to send MR. We just started the repository thats why still some things are missing.

[2020-01-21 13:58] roidelapluie commented on #1
Thanks, it would help if you could clarify the license thing :)

[2020-01-22 06:35] Nosmoht commented on #1
I just added the GNU General Public License v3.

[2020-01-23 09:01] Nosmoht commented on #1
I just changed the licence from GNU GENERAL PUBLIC LICENSE Version 3 to Mozilla Public License Version 2.0

[2020-02-27 21:50] binlab opened #7 "S3 type for blobstore"
Thanks for great work!

As I understand there is missed support for `S3` type yet:

[code]

Do you have some plans to add `S3` type for `blobstore`?
Will be nice to have this possibility for stateless instances
Thanks!

[2020-03-20 08:50] marek-budyn opened #10 "Privileges order change on every apply"
When creating role and applying set or privileges (as list of strings), updating nexus works.
But validation (or re-applying the same terraform config) causes nexus to be updated every time, as list of privileges comes in different order.

Example output from terraform:
[code]

The privileges will be updated in place, but changes are irrelevant. Just an order.
But when one want to validate whether

[2020-03-24 11:52] Nosmoht commented on #10
Hi @marek-budyn ,

i'll add sorting to the list. This should fix it.

[2020-03-24 11:53] Nosmoht commented on #7
H @binlab ,

if you like you can send a PR. Otherwise please let me know and i'll add support for S3 backend.

[2020-03-24 11:53] #1 closed

[2020-03-24 15:03] binlab commented on #7
Hello @Nosmoht !
I looked for the possibility to add S3 backend, but this not so easy task. It also needs to add support into a library - https://github.com/datadrivers/go-nexus-client
If you can, I would ask you to do this. Thanks!

[2020-03-24 18:37] Nosmoht commented on #7
Will do :-)

[2020-03-26 07:16] marek-budyn commented on #10
Thanks! this should help

[2020-03-31 08:24] Nosmoht commented on #7
Hi @binlab ,

S3 blobstore support was added v1.2.0.

[2020-04-16 13:36] akaRem opened #15 "PROPOSAL: Split repository entity by repo types."
Currently all the possible repositories are backed by the same resource called "nexus_repository".

The problem with this approach is that..

1. It's hard to use, for example, currently in VSCode intellisense checks and advises apt-related configuration sections for docker repos (it doesn't check conflicts)

<img width="620" alt="image" src="https://user-images.githubusercontent.com/1472728/794620

[2020-04-16 13:38] akaRem commented on #15
Me and @kuzmacska can take actions to implement these changes and send PRs later if you guys agree with this proposal.

[2020-04-20 14:07] matglas opened #20 "Group members in repository resource are not updated"
**Summary**
When a nexus_repository of the type group has group->member_names set it does not add new members when they are added to the list after first apply.

**Reproduce**

1. Create a resource group.

[code]

2. Apply changes

3. Add 2rd repository.

[code]
4. Apply changes.

**Expected result**

A 2nd repository created and added as a member to the docker group members.

**Current result**

[2020-04-24 09:09] fog1985 opened #22 "Some objects are not get updated."
Hi guys,

I tried to use resources as follow:
[code]
In this resource, port update or repo name update for example doesn't update it on Nexus server. Even though TF reports as there is a change for in-place update.

And one more:
[code]
In this resource, `soft quota` is set up to 0 by default which is incorrect set-up at all. Despite it being provided as 1024 in code. After changes and re-applying

[2020-04-30 14:45] siobhanaka opened #23 "NPM Repository"
Hi,  I see there are a bunch of repo formats (bower, nuget, docker etc.) - but no npm... are there plans to include npm repositories?
Thanks S

[2020-05-04 13:41] Michenux opened #24 "S3 support: make bucket_security optional"
Hi,

Could you make bucket_security optional as the nexus EC2 instance will have an instance profile with policies to read/write to the S3 bucket.

Best regards

[2020-05-04 14:55] matglas opened #25 "Order of repositories in docker repository group is not respected"
**Summary**
When I define a docker repository group the order of the items in the `member_names` is not respected which leads to unreliable results when image are pulled.

**Reproduce**
- Create two repos. One for a hosted variant and one for a proxy. As they are ordered by name please name the hosted repo `z-repo` and the proxy repo `a-repo`.

- Define a repository group with the hosted as first

[2020-05-05 14:45] Nosmoht commented on #15
Sounds good. Feel free to send a PRs as my time is currently very limited to continue working on the project.

[2020-05-05 14:46] Nosmoht commented on #23
Hi @siobhanaka ,

NPM is now implemented.

[2020-05-05 15:11] Nosmoht commented on #20
Hi @matglas,

could you please test with v1.4.0 just to confirm the bug still exists or not?

[2020-05-05 15:41] Nosmoht commented on #23
Hi @siobhanaka ,

NPM support was added with https://github.com/datadrivers/terraform-provider-nexus/commit/e117f28b9d6cfcab069591f0af066d076638c8ac.

Could you please test with release v1.4.0?

[2020-05-06 11:39] c4rlier opened #26 "npm proxy repository remote url does not change"
Hi,
when changing the remote_url parameter on an existing remote repository of npm format the change is accepted as `will be updated in place` by the provider and executed, however the underlying nexus parameter does not change.

Please let me know if you would like further details.

[2020-05-06 14:51] c4rlier opened #27 "nuget proxy repositories parameter missing"
Nexus API returns the following error when I try to create a nuget proxy repository. I could not find any parameters unique to nuget proxy repositories in the code. However Nexus doesn't seem to allow creating a nuget proxy repository with this parameter missing.
[code]

Furthermore I submitted the following issue to sonatype (not sure if under the right repo!)  as the api endpoints description (

[2020-05-06 15:05] c4rlier opened #28 "Creating a maven proxy repository returns 404"
Hi,

Trying to create a maven proxy repository returns a 404. I tried to create multiple different maven proxy repositories, but all of them return 404. Below is one example.

[code]

[2020-05-06 15:08] c4rlier opened #29 "Proxy and Remote repository types should not allow `write_policy` attribute under `storage`"
Hi,
one more submission. As per Nexus' API Proxy and Remote repository types should not allow `write_policy` attribute under `storage`.

[2020-05-06 16:48] siobhanaka commented on #23
Works a treat @Nosmoht , thanks

[2020-05-07 08:39] #23 closed

[2020-05-07 08:44] Nosmoht commented on #28
Hi @c4rlier ,

we already identified the issue and will fix it soon.

[2020-05-08 07:39] matglas commented on #20
The bug is still there. It sees it need to change it and says it has changed it but it did not change.

[2020-05-08 07:39] matglas commented on #25
Checked still a problem in v1.4.0.

[2020-05-08 13:29] #7 closed

[2020-05-11 07:18] Nosmoht commented on #20
I'll check that

[2020-05-11 07:50] #25 closed

[2020-05-11 09:30] Michenux opened #32 "Can't create a docker hub repository"
Hi,

When creating the docker hub repository, it tells me about a missing "type" parameter :

[code]

[2020-05-12 08:30] Nosmoht commented on #32
Hi @Michenux ,

could you please show the complse resource definition of `nexus_repository.docker_hub`?

[2020-05-13 12:55] Nosmoht commented on #29
Hi @c4rlier ,

thanks for the hint. I'll check how to implement that.

[2020-05-13 12:58] Nosmoht commented on #28
Hi @c4rlier ,

that was an issue within the used go-nexus-client library that is fixed in https://github.com/datadrivers/go-nexus-client/releases/tag/v0.8.2. We will release a new Terraform provider soon, using the new client library. That should fix the issue.

[2020-05-13 13:41] Nosmoht commented on #28
Hi @c4rlier ,

this should be fixed with https://github.com/datadrivers/terraform-provider-nexus/releases/tag/v1.4.1.

[2020-05-13 13:41] Nosmoht commented on #20
Hi @matglas ,

this should be fixed with https://github.com/datadrivers/terraform-provider-nexus/releases/tag/v1.4.1.

[2020-05-13 13:42] Nosmoht commented on #22
Hi @fog1985 ,

this should be fixed with https://github.com/datadrivers/terraform-provider-nexus/releases/tag/v1.4.1.

[2020-05-13 13:42] Nosmoht commented on #26
Hi @c4rlier ,

this should be fixed with https://github.com/datadrivers/terraform-provider-nexus/releases/tag/v1.4.1.

[2020-05-13 13:43] Nosmoht commented on #25
Hi @matglas,

this should be fixed with https://github.com/datadrivers/terraform-provider-nexus/releases/tag/v1.4.1.

[2020-05-13 13:48] Nosmoht commented on #27
Hi @c4rlier,

this feature is not implemented yet. I'll add it soon.

[2020-05-13 18:10] Nosmoht commented on #24
Hi @Michenux,

this will be fixed with https://github.com/datadrivers/terraform-provider-nexus/pull/35

[2020-05-14 07:38] #24 closed

[2020-05-14 08:15] c4rlier opened #37 "maven2 repository type not accepted."
Hi,
Firstly thank you for solving the previous issue regarding maven repositories. There is another issue that came up during exploratory testing.

The provider accepts `maven` as a repository type, but it should accept `maven2`.  When maven 2 is input you see the error in code block 1). when you change it to `maven` the tf code executes just fine, but it creates maven2 repositories in nexus (when

[2020-05-14 08:19] Nosmoht commented on #37
Hi @c4rlier ,

we just identified the issue and will fix it soon.

[2020-05-14 08:52] marek-budyn commented on #10
Unfortunately latest release does the same. Still re-applying the same list of privileges

[2020-05-14 09:08] Nosmoht commented on #27
Fixed with https://github.com/datadrivers/terraform-provider-nexus/pull/36. Will be releases in v1.5.0.

[2020-05-14 09:36] Nosmoht commented on #37
Fixed with release [v1.5.0](https://github.com/datadrivers/terraform-provider-nexus/releases/tag/v1.5.0)

[2020-05-17 12:02] android-leha opened #41 "Cannot define quota limit for blobstore"
I have in main.tf
[code]
But getting in UI:
![image](https://user-images.githubusercontent.com/1458524/82144291-715d4e00-984f-11ea-9ca9-fb2073c01ae7.png)

nexus version: 3.23.0-03

Update: Same for "spaceRemainingQuota"

[2020-05-18 09:11] Nosmoht commented on #41
Hi @android-leha ,

which version of the provider are u using?

[2020-05-18 09:11] Nosmoht commented on #37
@c4rlier could you please test with v1.5.3 and let us know the result?

[2020-05-18 09:14] Nosmoht commented on #20
@matglas could you please test with provider version v1.5.3 and let us know your results?

[2020-05-18 09:23] c4rlier commented on #27
Already tested, thanks for the fix! Will close this issue if you don't mind.

[2020-05-18 09:23] #27 closed

[2020-05-19 08:21] Nosmoht commented on #41
Hi @android-leha,

missing repository update was fixed with https://github.com/datadrivers/terraform-provider-nexus/commit/94b3e77a8c2a848940d398e833eea72bcbc0f46b.
Could you please test with current release [v1.6.0](https://github.com/datadrivers/terraform-provider-nexus/releases/tag/v1.6.0).

[2020-05-19 15:41] Michenux commented on #28
I'm using version 1.6.1 and it is not fixed.

[code]

terraform providers
[code]

[2020-05-19 15:42] Michenux commented on #32
You can close this bug.

[2020-05-20 19:09] android-leha commented on #41
I checked it with latest version from master branch(I think it was 1.5.3) and also rechecked it with 1.6.0 and latest from today (fe6d754abde5b2b18b0c003f8e15ff1e5602690e)

All the same

[2020-05-20 20:11] android-leha commented on #41
Hi,
I checked this api directly and it is not working as well.
`
curl -X PUT "http://localhost:8081/service/rest/beta/blobstores/file/default" -H "accept: application/json" -H "Content-Type: application/json" -d "{ \"softQuota\": { \"type\": \"spaceRemainingQuota\", \"limit\": 2024 }, \"path\": \"default\"}"
`

Looks like bug in nexus itself

[2020-05-20 21:04] android-leha commented on #41
Hi @Nosmoht

I opened an issue in nexus Jira https://issues.sonatype.org/browse/NEXUS-23987 and got answer that problem that limit should be defined in bytes.
In parallel another ticket was opened for this: https://issues.sonatype.org/browse/NEXUS-23985

So need or multiple current value to 100000 or update your examples with right values, or just wait for fix=)

[2020-05-21 12:39] android-leha opened #42 "Destroy action should delete blobstore after destroing repos"
If I'm destroying all my repos and blobstore I got error:
`
Error: could not delete blobstore "default": HTTP: 500, ERROR: (ID cc540e55-32c3-49c8-895c-1821fb7ec437) java.lang.IllegalStateException: BlobStore default is in use and cannot be deleted
`

If I retry destroy command again, it is able to destroy

[2020-05-21 18:18] boubech opened #43 "Proxy without authentication section"
Hi !
When I declare a proxy repository (maven2 and pypi) without authentification, I have the message :

  "id" : "PARAMETER type",
  "message" : "may not be empty"
} ]

    resource nexus_repository maven_sonatype_public {
    name   = "sonatype-public"
    type   = "proxy"
    format = "maven2"
    online = true

    proxy {
        remote_url  = "https://oss.sonatype.org/content/repositories/pu

[2020-05-21 18:39] boubech opened #44 "Maven Group - 404"
Hi !
When I want to declare a Maven group repository, a 404 error occurred.
Example :

    resource "nexus_repository" "maven_group_all" {
    name   = "maven-public-2"
    format = "maven2"
    type   = "group"
    group {
        member_names = [
            "maven-central",
            "maven-releases",
            "maven-snapshots"
        ]
    }
    }

Provider version : 1.6.0
Server version

[2020-05-21 18:48] boubech opened #45 "Data - Nexus Repository - Group"
Hi !

When I want to get repository from data, this error occured : `Error: Invalid address to set: []string{"group"}`

     data "nexus_repository" "maven_public" {
          name = "maven_public"
     }

[2020-05-22 09:49] android-leha commented on #44
Hi @boubech

Also faced same issue.
The problem in Nexus itself. REST API is not avaliable.

This is sonatype ticket: https://issues.sonatype.org/browse/NEXUS-23080

Looks like they fixed it in next version 3.24.0

Waiting for next release=)

[2020-05-22 14:41] 5obol opened #46 "Privilege creation fails"
Nexus provider version: v1.6.0

My TF code:
[code]
TF plan:
 ------------------------------------------------------------------------
An execution plan has been generated and is shown below.
[code]
------------------------------------------------------------------------
TF apply (fails with the error):
[code]
Can’t see reason why this would fail. There is no “ID” field or “Message”. Can’t find the

[2020-05-25 09:31] ruedigerblock commented on #28
Moin @Michenux,
may I ask for the corresponding TF code, thus I can compare ?

[2020-05-25 09:49] boubech commented on #44
@android-leha Thank you

[2020-05-25 09:58] Michenux commented on #28
Yes

[code]

In fact, there is no endpoint in API to create a maven group.
It is fixed in Nexus 3.24, but not yet released.
https://issues.sonatype.org/browse/NEXUS-23080

[2020-05-25 10:11] ruedigerblock commented on #28
I see it know. Thus, we'll have to wait for 3.24 to come out. :-(

[2020-05-25 10:59] Nosmoht commented on #46
Hi @5obol ,

will check that.

[2020-05-25 11:22] Nosmoht commented on #45
Hi @boubech ,

i'll check and fix this soon.

[2020-05-25 13:49] Nosmoht commented on #42
As the error message says: you can't delete a blobstore in use. So with your first run, Terraform destroys the repos and parallel the blobstore, which is still in use.
With your second TF run, repos are already deleted and blobstores can be deleted.

Do you have a resource `nexus_blobstore.default` which you can use for Terraform dependency? Just wondering as `default` blobstore is by default in N

[2020-05-25 13:53] Nosmoht commented on #43
Hi @boubech ,

i believe following code is missing
[code]

[2020-05-25 13:59] boubech commented on #43
@Nosmoht That's true, it works with this section , but I doesn't want to use http authentication for my proxy repository.

[2020-05-25 14:00] Nosmoht commented on #43
I'll check API of Nexus and see what we can do ;). I've this small code snippet in all proxy repos evenso we are using HTTPS for everything.

[2020-05-25 14:09] Nosmoht commented on #46
I've found the bug. Will release a new release soon.

[2020-05-25 14:44] #32 closed

[2020-05-25 14:45] Nosmoht commented on #26
Hi @c4rlier,

could you please test with current release?

[2020-05-25 14:46] Nosmoht commented on #22
Hi @fog1985 ,

could you please test with current release?

[2020-05-25 14:51] Nosmoht commented on #46
Hi @5obol ,

this should be fixed with [v1.6.1](https://github.com/datadrivers/terraform-provider-nexus/releases/tag/v1.6.1).

[2020-05-26 06:04] fog1985 commented on #22
Hi @Nosmoht ,
Thank you a lot for the prompt response to this bug!
It has been fixed and works as expected now.

[2020-05-26 06:04] #22 closed

[2020-05-26 07:29] 5obol commented on #46
Great. Updated to use the latest provider and it works smooth! Thanks for the effort.

[2020-05-26 08:21] #46 closed

[2020-05-26 08:45] 5obol opened #48 "Missing parameters are required for resource(repository) creation. Example declaration statement missing?."
Hi guys

Can you please point me at all possible parameters for the resources creation?
E.G. I am creating repository of type proxy and format apt :

[code]

I do have those section in my real repo and would like them to be declared even with null or empry values. But I can’t figure out how to define them. And can’t even find them in repository’s resource GO code as of here:
https://github.com/dat

[2020-05-26 12:01] Nosmoht commented on #48
Hi @5obol,

please see the examples for `nuget_proxy` and `docker_hub` within README.md. The errors you got are only for repositories of type proxy.

[2020-05-26 13:26] 5obol commented on #48
Hi,
Thank you for such a quick reply and action on this.
Have just went through those two examples as well. And here what I have in a TF code:

[code]

[2020-05-26 15:51] Nosmoht commented on #45
I can verify that this error only occurs if the repository is of type `group`. It works well for repositories of type `hosted` and `proxy`.

[2020-05-26 19:38] android-leha commented on #42
Yes, I have.

But I think, provider should automatically recognize dependencies between repos and blobstores, and start to process blobstores, only after all repositories are deleted.

[2020-05-27 07:02] Nosmoht commented on #48
Hi @5obol ,

the issue with parameter `type` can be fixed by adding `authentication` even if you don't use username and passwort, it would at least fix the issue. We have another issue to check if authentication can be omitted.
[code]

Parameter `flat` is really new to me. Which version of Nexus are u using

[2020-05-27 07:05] Nosmoht commented on #48
Found the `flat` parameter. Seems like following is missing.
[code]

[2020-05-27 07:06] Nosmoht commented on #48
Foo, this parameter is not yet implemented. I'll add it soon.

[2020-05-27 07:24] 5obol commented on #48
We are using Nexus 3.22.1-02

[2020-05-27 07:44] fog1985 commented on #48
Cool,
Thank you @Nosmoht beforehand.
As I am facing pretty the same issue. Looking forward to having it added.

[2020-05-27 10:51] Nosmoht commented on #43
Hi @boubech ,

i've found the error. Will be fixed within next release, which we can hopefully release today.

[2020-05-28 08:15] 5obol opened #50 "Feature request: Repository format type = raw is not available"
Hi guys

I have found almost all the needed resources in your provider. And that is very cool.
Though 1 resource type seems to be missing or just not implemented yet.
Would be wonderful to have it added/implemented as well and be able to fully manage Nexus as code.
This is repository format = raw . I can’t find it implemented in your provider.
We use it for repository types as follow: hosted, grou

[2020-05-28 09:50] Nosmoht commented on #50
Hi @5obol ,

we are happy to implement this, unfortunately Nexus 3.23.0 does support RAW format via API. Lets see what the next release brings.

[2020-05-28 10:14] Nosmoht commented on #42
This is a standard Terraform feature.

[code]

[2020-05-28 12:49] ruedigerblock commented on #48
Moin guys,
we created a new release v1.6.2 which should address this issue.
Please check ;-)

[2020-05-28 12:49] ruedigerblock commented on #43
Moin guys,
we created a new release v1.6.2 which should address this issue.
Please check ;-)

[2020-05-28 14:26] fog1985 commented on #48
Cool! Thank you! ;)

[2020-05-28 15:02] Nosmoht commented on #45
Hi @boubech ,

this should be fixed with [v1.6.2](https://github.com/datadrivers/terraform-provider-nexus/releases/tag/v1.6.2)

[2020-05-28 15:03] #37 closed

[2020-05-28 15:04] #26 closed

[2020-05-28 15:40] fog1985 commented on #48
Hi @Nosmoht,

All works well. Thank you.

1 more question. Is there a chance to get what data fields/outputs `data` source for `repository` has?
I am curious if it's possible to get for example a list of created `privileges` during the `repository` creation process and as the result create a `role` resources with those `privileges`.
If it's not a correct place to ask this question please let me kn

[2020-05-29 08:33] 5obol opened #53 "Modification are done all the time even though no code changes"
[code]

During TF Plan:

[code]
Hence those two parameters (write_policy and for authentication http_client) are being kind of touched all the time.

[2020-05-29 14:55] fog1985 commented on #48
Hi @ruedigerblock ,
Thank you as well! And including you into the thread too. :)
Went through everything and can't figure out how to get a list of created `privileges` by repository resource. Or as the result of repository creation.
Any hints, please?
Cuz trying to create a role with those privileges included and there is no way to get them. :)

[2020-05-30 10:18] boubech commented on #45
It works !
Thank you.

[2020-06-02 07:33] #45 closed

[2020-06-02 07:41] Nosmoht commented on #53
Hi @5obol ,

for now please remove the `authentication` part in `http_client` and set the `write_policy` to `ALLOW` as `ALLOW_ONCE` seems not be possible for repositories of type `proxy`.

[2020-06-02 11:31] fog1985 commented on #50
Hi @Nosmoht ,
I have just happened to find that it seems like Nexus 3.24.0 which has not released yet but will support it:
https://github.com/sonatype/nexus-public/tree/master/plugins/nexus-repository-raw
They added it just yesterday :)
Please have a look at.

[2020-06-02 11:40] fog1985 commented on #50
Yeap. It's here:
https://github.com/sonatype/nexus-public/tree/master/plugins/nexus-repository-raw/src/main/java/org/sonatype/nexus/repository/raw/rest

[2020-06-02 13:49] 5obol commented on #53
Thanks. That worked.

[2020-06-02 14:32] #53 closed

[2020-06-03 07:31] fog1985 opened #54 "Doesn't seem to be possible to get/extract a list of privileges for Repository created."
Hi guys,

This is an enhancement request.

After Repository creation, Nexus creates privileges for this repository.
Further, in work it might happen that more privileges need to be added/attached to this or that role.
And it's impossible right now to get a list of privileges for the specific repository.
**Use-case:** needed a role that has privileges from multiple Repositories.
It would be awesome

[2020-06-04 15:08] Nosmoht commented on #54
Hi @fog1985 ,

would it help to provide a data source for privileges? It could return, based on a filter like `domain`, `repository` or `name`, all privileges matching the filter. You could than use the returned list to do some other stuff with it.

[code]

[2020-06-05 12:06] Nosmoht commented on #54
Hi @fog1985 ,

this should be fixed with [v1.7.0](https://github.com/datadrivers/terraform-provider-nexus/releases/tag/v1.7.0).

[Documentation](https://github.com/datadrivers/terraform-provider-nexus#data-nexus_privileges)

[2020-06-05 12:51] fog1985 commented on #54
Cool. Thank you @Nosmoht

[2020-06-05 13:18] Nosmoht commented on #54
@fog1985 Please let me know if it works and if we can close the issue.

[2020-06-05 13:21] Nosmoht commented on #48
Hi @fog1985 ,

i'm closing this ticket as you've already opened https://github.com/datadrivers/terraform-provider-nexus/issues/54 for the privileges. Thanks for your support.

[2020-06-05 13:21] #48 closed

[2020-06-05 13:50] fog1985 commented on #48
Sure. Thank you @Nosmoht .

[2020-06-05 13:52] fog1985 commented on #54
Hey @Nosmoht ,
I am sure it works. Don't have a chance to put a new release and test it right away.
Or please leave it for a few days and I will try my best to test it out early next week.

[2020-06-08 08:50] Nosmoht commented on #50
Hi @fog1985 ,

we will start with implementation as soon as 3.24.0 is out. Our feel free to send a PR ;)

[2020-06-08 09:32] fog1985 commented on #50
If I could I would have sent it already. :P) Unfortunately not so good at Go programming. I have just started studying Python recently. :)

[2020-06-09 09:55] Michenux commented on #44
The release 3.24.0 is here.
[https://help.sonatype.com/repomanager3/release-notes#ReleaseNotes-NexusRepositoryManager3.24.0](Nexus 3.24.0)

[2020-06-09 09:57] Michenux commented on #28
3.24.0 released:
https://help.sonatype.com/repomanager3/release-notes#ReleaseNotes-NexusRepositoryManager3.24.0

[2020-06-09 13:09] Nosmoht commented on #28
Hi @Michenux ,

thanks for the information. I'll start with the implementation.

[2020-06-09 13:26] Nosmoht commented on #28
Hi @Michenux ,

i've just tested with provider [v1.7.0](https://github.com/datadrivers/terraform-provider-nexus/releases/tag/v1.7.0) and it works already. So please use this version.

[2020-06-09 13:34] fog1985 opened #57 "Feaure request (https proxy): Repository --> proxy --> "Use the Nexus truststore" is not implemented."
Hi guys,
Using Nexus 3.23.0 can't find this option to be either enabled or disabled for the locations which use https protocol:

![image](https://user-images.githubusercontent.com/3924436/84153739-f0206200-aa6e-11ea-84df-601ff439d4bf.png)

Don't see it in a "proxy" code configuration section for the repository as well.
It would be nice to have it added.
Thank you a lot in advance! :)

Kindest rega

[2020-06-09 14:03] fog1985 commented on #28
Cool. I have just faced this issue as well. I needed to create maven groups. And could not find them implemented. Now I see that it's up to Nexus API. It has not been implemented at all.

[2020-06-09 15:01] fog1985 opened #58 "No field `password` available for http_client authentication section."
When I try to create it I get the error as follow:
[code]

TF code block for this looks as follow:

[code]

If I try to provide a field called `password` I got a message:
`
An argument named "password" is not expected here.
`

[2020-06-09 15:02] fog1985 commented on #58
Nexus version 3.24.0
Nexus provider version:  v1.7.0

[2020-06-09 15:54] Nosmoht commented on #58
Hi @fog1985 ,

could you please provide complete TF resource code so we can reproduce? Seems like you're trying to ensure a maven proxy repo.

[2020-06-09 15:56] Nosmoht commented on #57
Hi @fog1985 ,

i couldn't find anything within Nexus API. Maybe you should ask Sonatype if this is supported via API.

[2020-06-09 15:58] Nosmoht commented on #28
It's implemented in Nexus 3.24.0 and supported by provider [v1.7.0](https://github.com/datadrivers/terraform-provider-nexus/releases/tag/v1.7.0)

[2020-06-09 16:33] Nosmoht commented on #50
Implementation already done https://github.com/datadrivers/terraform-provider-nexus/pull/59.
Just waiting for a review and then we can create v1.8.0.

[2020-06-10 06:42] Nosmoht commented on #50
We've release [v1.8.0](https://github.com/datadrivers/terraform-provider-nexus/releases/tag/v1.8.0) which supports `raw` repository format.

[2020-06-10 06:47] Nosmoht commented on #44
Hi @Michenux, @android-leha and @boubech,

could you please test with provider [v1.8.0](https://github.com/datadrivers/terraform-provider-nexus/releases/tag/v1.8.0) and Nexus 3.24.0. We have added some tests for Maven proxy which work fine so far.

[2020-06-10 10:33] fog1985 commented on #58
Hi @Nosmoht ,

Yeap. It's Maven Proxy:

[code]

[2020-06-10 10:36] fog1985 opened #60 "Proxy Repository of type Docker requires `index_url` parameter even though it's an optional"
Tried to create `docker proxy` repo as in the readme's example:

[code]

Getting the error as follow:
[code]
If I try to provide an empty `index_url=""` still fails with the same.

[2020-06-10 10:57] Nosmoht commented on #58
Thanks @fog1985, we are now able to reproduce the error.

[2020-06-11 06:23] #44 closed

[2020-06-11 06:24] Nosmoht commented on #58
Hi all,

the attribute is undocumented within Nexus 3.24.0 API but available for use. I'm currently working on the implementation.

[2020-06-12 07:28] fog1985 commented on #60
Cool. Thank you @Nosmoht ,
Will test it out today.

[2020-06-12 08:33] fog1985 commented on #60
Tested out. Works as expected.

[2020-06-12 08:33] #60 closed

[2020-06-12 08:34] fog1985 commented on #50
Tested out. Works as expected.

[2020-06-12 13:45] #50 closed

[2020-06-12 15:53] 5obol opened #63 "Roles found to have changes. Though they are up to date and no changes were made."
I am creating few roles as follow:
[code]

And during second or any other applies they are tried to be changed:
[code]

But in fact there is some error in logic. As description filed never was equal to "ROLE" . The same as name, privileges etc.

Hence there are seem to be multiple issues:
- description and name fields for some reason evaluated by the provider as equal to id field value. Even thoug

[2020-06-15 08:46] fog1985 commented on #63
Yeap. Having pretty the same.

[2020-06-16 13:20] fog1985 commented on #54
Hi @Nosmoht ,
I have just tried to use it. And a bit confused with the way of how to declare all the needed stuff.
Here what I have:
[code]
Was referring at this code:
https://github.com/datadrivers/terraform-provider-nexus/blob/master/nexus/data_source_privileges.go

It indeed seems to have `privileges` section.
But not sure what is the difference between `format` for example in a root declaratio

[2020-06-18 07:37] Nosmoht commented on #54
Hi @fog1985 ,

the data resource is used to get the list of privileges for the specified repository `format` and `type`. So please remove the `privileges` from your declaration and you should get a list of all privileges of repository `apt-proxy` as return value.

[2020-06-18 08:43] Nosmoht commented on #54
I believe the only thing we could do is to add a name filter like `name = ".*-read"`. So we could use a regexp on the privilege name to get only privileges matching the regexp. Would that help you?

[2020-06-18 09:09] fog1985 commented on #54
I think yes. That would work.
I also tried to use Terrafomr's `filter` facility. As described here:
https://www.terraform.io/docs/providers/oci/guides/filters.html
Doesn't work either.
[code]
Result:
[code]
So `name` would work if possible.

[2020-06-18 09:10] fog1985 commented on #54
As an interim solution, I have just come up with this one:
[code]
Which returns `READ` privilege. :)

[2020-06-18 11:37] fog1985 commented on #54
For those who might be looking for the same:
[code]
In this way, we can get nice filtering based on `actions` with the usage of `RegExp`.
Or even combine privileges from different repositories and data sources with the usage of Terraform's `concat` function.

[2020-06-21 12:44] android-leha commented on #58
I created PR #64 to fix this issue.

But I have another problem:
@Nosmoht, may be you aware:
I need also mark this checkbox
![image](https://user-images.githubusercontent.com/1458524/85224864-eb946b80-b3d5-11ea-87ca-fdcd8e2787a0.png)

Is this parameter existed in API?

After I rerun plan, this mark become disable

[2020-06-21 13:10] android-leha commented on #42
Thank you for help.
Readme confused me a little, so I thought it is not possible to define link to resource instead of name.

Just want to mention for group repositories need to define name

[code]

[2020-06-21 13:10] #42 closed

[2020-06-22 21:54] android-leha commented on #28
Probably this can be closed

[2020-06-23 14:02] AliAllomani opened #65 "No available resources for realms and ldap configuration"
There is no current available resources for managing realms and ldap configuration

[code]

[code]

[2020-06-24 09:29] AliAllomani opened #66 "nexus_privilege resource doesn't have the required pattern parameter for wildcard"
nexus_privilege resource doesn't have the required pattern parameter for wildcard privilege type.

https://github.com/datadrivers/terraform-provider-nexus/blob/c286aa756a9e8f21c26c6ca36c31d591cb583c04/nexus/resource_privilege.go#L19-L63

[2020-06-24 13:48] AliAllomani opened #68 "description field in nexus_role does not get updated in state"
description field of nexus_role always shows changes to be applied when performing plan.

[code]

I noticed that the field is getting updated in nexus but not in the state file.

[2020-06-24 13:50] AliAllomani commented on #63
Seems #68 is related.

[2020-06-24 13:57] fog1985 commented on #63
Yeap. Seems so.

[2020-06-25 05:52] sboardwell commented on #58
Hi All, any news on this or #64? Is there anything blocking the merge?

[2020-06-27 13:56] Nosmoht commented on #58
I‘ll create a new release with your change this weekend. Stay tuned 😉

[2020-06-29 07:15] #66 closed

[2020-06-29 07:43] Nosmoht commented on #58
There is one thing left to do. As the Nexus API does not return the password, we must set it into state from input value.

[2020-06-30 07:17] Michenux commented on #28
Yes, you can.
Thanks for your work 👍

[2020-06-30 07:20] Michenux commented on #10
Not fixed for me.
It pollutes the output of terraform plan commands and it is more difficult to see real changes.

[2020-07-03 12:23] fog1985 opened #69 "Proposal: add possibility to get a list of repositories in data source."
Hi guys,
I have tried to get a list of repositories with the usage of data source for Repositories:
[code]
But it requires explicit `name`. `No asterisk or RegExp is accepted`. E.G. it can get only 1 repo. Base on format etc.
Would be nice to have it done in the way that allows just to get a full list of Repositories based on type or format etc.
So that we could just parse for any reason all the r

[2020-07-04 10:09] Nosmoht commented on #65
Hi @AliAllomani ,

i've already added support to [go-nexus-client](https://github.com/datadrivers/go-nexus-client/pull/35). Just need to finish the Terraform provider implementation. Stay tuned ;)

[2020-07-04 14:04] Nosmoht commented on #69
Sounds like a good idea that we should implement.

[2020-07-04 14:12] Nosmoht commented on #54
Hi @fog1985,

can we close the issue and create a new feature request for the privilege filter?

[2020-07-04 14:13] Nosmoht commented on #43
Hi @boubech ,

can we close the issue or is there anything left to get it working for you?

[2020-07-04 14:14] #28 closed

[2020-07-04 14:15] #20 closed

[2020-07-04 14:16] Nosmoht commented on #10
Hi all,

this is fixed with. https://github.com/datadrivers/terraform-provider-nexus/pull/70/commits/cea995d9a15028e885a4c5e1c836755af0a72b34

[2020-07-04 16:00] fog1985 commented on #54
Hi @Nosmoht ,
Sure.
Thank you.

[2020-07-04 16:00] #54 closed

[2020-07-06 10:53] #43 closed

[2020-07-06 11:36] boubech commented on #43
Sorry for the delay,
It's work..

[2020-07-06 19:40] #10 closed

[2020-07-06 19:40] #63 closed

[2020-07-06 19:40] #65 closed

[2020-07-06 19:42] Nosmoht commented on #68
Hi @AliAllomani,

this should be fixed with release [v1.9.0](https://github.com/datadrivers/terraform-provider-nexus/releases/tag/v1.9.0).

[2020-07-06 20:46] android-leha commented on #58
@Nosmoht do you have any example, how it can be done?

[2020-07-07 07:16] Nosmoht commented on #58
@android-leha what exactly do you mean ?

[2020-07-07 12:07] fog1985 commented on #68
Hi @Nosmoht ,
Have just tested out.
It's not fixed.

I still get number of roles being touched all the time.
What I see is that it sees `description` and `name` fields as equal to `id` one. Even though they are not.
Roles assignment is re-do each time as well. Like role has sub-roles. And those roles are evaluated as to be added each time.
I have an assumption that it's due to `ID` filed having th

[2020-07-07 14:22] Nosmoht commented on #68
Hi @fog1985 ,

could you please provide a full Terraform file which we can use to reproduce this? With the current test i'm not able to reproduce it.

[2020-07-07 14:41] fog1985 commented on #68
Hi @Nosmoht ,
I can't easily copy-paste whole tf file due to data sensitivity, but one of those roles which are re-created declaration is as follow:

[code]
And those roles this role is referencing are defined in the same manner but they have privileges defined. Not the roles. So only this one main is referencing sub-roles.
Please let me know if still will not be reproducible from your side. Will

[2020-07-07 15:22] Nosmoht commented on #68
Hi @fog1985,

i'm testing with the following code, which hopefully reflects your real code, but i'm not able to reproduce the behaviour.

[code]

If this does not reflect your code, could you please modify it so i've something which brings up the change ?

[2020-07-07 15:31] fog1985 commented on #68
Hi @Nosmoht , please try to change this block:
[code]
To this one:
[code]

[2020-07-07 15:44] Nosmoht commented on #68
Hi @fog1985 ,

i did, but the result is as expected:

[code]

But i realized that `nexus_role.<role>.name` is wrong and __must__ be `nexus_role.<role>.roleid` instead in a role's roles. Unfortunately Nexus API docu only says `The list of roles assigned to this role.` to attribute `roles`.  So the right code would be:

[code]

[2020-07-07 15:52] fog1985 commented on #68
Ah. And one more I provide roles as a list of Ids as follow:
[code]
So not referring role's names based on their resources. But based on their IDs just as strings.
In TF's declaration `roleid` equals to `name`.

[2020-07-07 15:56] Nosmoht commented on #68
And you still get changes all the time?

[2020-07-09 20:39] Nosmoht commented on #29
Implementation is already done, but i found an issue for proxy repositories of format `apt` and `docker`.

https://issues.sonatype.org/browse/NEXUS-24502

[2020-07-10 17:53] vaghetti commented on #53
Hello @Nosmoht, I'm getting a similar issue for 3 repos:
- format: maven2 type: group
- format: npm type: group
- format: npm type:proxy

In all 3 cases I always get this change:
[code]

Applying works, but when I apply again I get the same thing, just like in @5obol's case.

Any ideas? Is there any documentation on the supported `write_policy` values for each type of repo?

[2020-07-14 06:31] Nosmoht commented on #53
Hi @vaghetti ,

thanks for your report. I've already opened an issue within Nexus API as this is very inconsistent.

https://issues.sonatype.org/browse/NEXUS-24502

[2020-08-03 15:08] #58 closed

[2020-08-03 16:52] skipperza commented on #57
I contacted Sonatype to ask them. Will update the answer here.

[2020-08-04 07:47] skipperza commented on #57
Response from Sonatype:

[2020-08-14 10:09] Nosmoht commented on #57
Hi all,

i guess the answer from Sonatype is not what we expected. If needed, we could add resources for SSL certificate management, but still missing is how to set that check box using Nexus API.

Do we need to implement resources for SSL certificates like `nexus_ssl_truststore` and maybe a data object `nexus_ssl_truststore`?

[2020-08-16 21:23] android-leha opened #76 "Publishing provider on https://registry.terraform.io/"
Hi,
Do you have any plans to publish provider to public registry, to allow automatic installation?

[2020-08-18 06:34] Nosmoht commented on #76
Hi,

yes, we are currently implementing the missing web documentation. As soon as this is finished we will push the provider to Terraform Registry ;)

Feel free to support us implementing this missing piece ;)

[2020-08-19 14:46] stevie- commented on #76
https://github.com/datadrivers/terraform-provider-nexus/pull/77 There is progress.

[2020-08-20 06:34] skipperza opened #78 "nexus_role times out"
Almost every time (9/10 times, at least), my nexus_roles times out while refreshing the state during a tf apply.

Is there any way of increasing the timeout? I work remotely via a VPN, and I'm not sure if that's causing the problem. As mentioned above, it works, but I have to run it 10 times to get one successful run. I've even tried -target to limit to one resource, and the same happens.

[code]

[2020-08-24 14:29] kuzmacska opened #80 "Terraform 0.13 support"
Could you guys add support for Terraform 0.13?
Now it is mandatory to upload binary like in the guide below:
https://www.terraform.io/upgrade-guides/0-13.html#in-house-providers

[2020-08-25 06:15] Skaronator commented on #80
Duplicate of #76 which has been closed even though it isn't done.

[2020-08-25 06:23] Skaronator opened #81 "Inconsistent plan when having empty parameter blocks"
Hi, first of all: thank you for this provider and all your work!

I noticed a inconsistent plan when having empty parameter blocks vs. having no parameter block at all. My resource looks like this:

[code]

When applying this I'll get the following plan and error:

[code]

When adding a empty `maven {}` parameter block to my resource like so:

[code]

My plan changes to this:

[code]

As you can s

[2020-08-25 07:37] Skaronator opened #82 "Cannot update nexus_security_ldap resource"
I'm trying to update a parameter on a newly created `nexus_security_ldap` resources but get the following error:
[code]
I've only changed the `connection_retry_delay_seconds` from `1` to `2` to reproduce this bug. My Terraform Plan looks like this:

[code]
____
Terraform Version: 0.13.0
Provider Version 1.10.2
Nexus Version: 3.25.1

____

More findings:

- The whitespace in the name is not a probl

[2020-08-25 09:13] skipperza commented on #78
Any ideas? I have tried everything I can, and I still cannot run a refresh.

[2020-08-25 09:58] Skaronator commented on #81
I think this would be fixed by the proposal in #15?

[2020-08-26 05:03] Skaronator opened #83 "Resource for System Capability Settings"
Hi, would be cool to configure the System Capabilities with this Provider. There are multiple types of capabilities so we'd probably need multiple resources. The thing that I want to do specific is to configure the session timeout of nexus. This can be found in the settings in System -> Capabilities -> UI Settings.

https://help.sonatype.com/repomanager3/system-configuration/capabilities/ui-settin

[2020-09-07 12:56] ruedigerblock opened #84 "Proposal: Rename data_source_user{_test}.go -> data_source_security_user{_test}.go"
Within the Nexus API security management has been placed after the /security/ subpath.
This has also been considered in the naming of security_ldap and security_realms. Since users is part of the security management it would make sense to rename those files to.

[2020-09-11 14:40] skipperza commented on #78
Understanding better now how timeouts works in Terraform, I see this isn't a problem of this provider, but rather the way it works in general.

For those who also experience this, here are some workarounds:
1. Use the -refresh=false flag on apply, and make sure that you don't make changes manually to avoid conflicts.
2. Use the -target= flag on apply, to target only single resources
3. Use -parall

[2020-09-11 14:40] #78 closed

[2020-10-19 06:49] cpesch opened #85 "Publish provider to https://registry.terraform.io/"
Hi,

it really reduces the barrier to use this provider if it was registred at https://registry.terraform.io/
Please consider registering it.

Best regards
Christian

PS: Yes, I know #76 and #80 exist

[2020-12-04 13:21] anmoel commented on #80
Hi,

now we have added our provider to the terraform registry.
see https://registry.terraform.io/providers/datadrivers/nexus/latest

kind regards

André

[2020-12-04 13:21] #80 closed

[2020-12-04 13:21] anmoel commented on #85
Hi,

now we have added our provider to the terraform registry.
see https://registry.terraform.io/providers/datadrivers/nexus/latest

kind regards

André

[2020-12-04 13:21] #85 closed

[2020-12-04 19:51] anmoel commented on #83
Hi @Skaronator,

we are happy to implement this, unfortunately Nexus 3.29.0 does not support the configuration of capabilities via API. Lets see what the next release brings.

regard
André

[2020-12-05 16:08] cpesch commented on #85
Thank you :-)

[2020-12-14 16:09] ThinkBriK opened #90 "No support for deploying on a Nexus behind HTTP proxy ?"
So far I'm unable to connect through an HTTP proxy to the Nexus API : I'm trying to run Terraform through a proxy (works perfectly with embedded plugins).
[code]

`nexus.aws` is resolvable by my proxy, but it seems nothing is forwarded despite `http_proxy` and `https_proxy` being set.

[2021-01-05 00:44] splatch opened #91 "Support for routing rules"
Routing rules are essential settings to block broken artifacts which can be pulled from proxy repositories:
https://help.sonatype.com/repomanager3/repository-management/routing-rules

[2021-01-05 08:07] anmoel commented on #91
Hi @splatch ,

I will implement this feature in the next few weeks.

regards
André

[2021-01-20 13:03] anmoel commented on #82
Hi @Skaronator,

tanks for your report and sorry for our delayed reply.
I will check the issue in the next few weeks.

regards
André

[2021-01-20 13:19] #91 closed

[2021-01-20 13:20] anmoel commented on #41
Hi @android-leha,

thanks for your report.
I can recreate this problem and will fix it in the next few weeks.

regards
André

[2021-01-20 14:04] chewrocca opened #94 "Add documentation about encryption in nexus_blobstore"
Looks like there is documentation missing about the encryption stanza in nexus_blobstore.

This encryption stanza seems to work but it appears to be missing from the documentation.

[code]

[2021-01-20 14:07] chewrocca opened #95 "Add support for writableMember in group"
Please add support for writableMember in group.

Related to this [Add writableMember struct to RepositoryGroup #46](https://github.com/datadrivers/go-nexus-client/issues/46)

[2021-01-20 14:20] #41 closed

[2021-01-21 07:39] anmoel commented on #94
Hi @chewrocca,

thanks for the report.

i will look on it.

regards
André

[2021-01-21 08:46] #94 closed

[2021-01-21 11:22] anmoel commented on #95
Hi @chewrocca,

thanks for your report.
We will add this requested feature to our list and will implement them in the next few weeks.

regards
André

[2021-01-21 13:35] anmoel commented on #90
Hi @ThinkBriK,

i found the problem and i will implement the fix into the next release.

regards
André

[2021-01-22 08:10] #90 closed

[2021-01-22 08:17] anmoel commented on #90
Hi @ThinkBriK,

can you test the new version v1.11.1?
If it does not work, please reopen this issue

regards
André

[2021-01-22 08:22] anmoel commented on #84
maybe, we should duplicate the resource and add a deprecation warning on the old resource

[2021-01-22 09:10] anmoel commented on #57
HI,

i send a new request for this feature at sonatype
https://community.sonatype.com/t/activate-use-the-nexus-truststore-for-proxy-repository-via-api/5749

[2021-01-22 09:16] anmoel commented on #83
I created a request at sonatype h
ttps://community.sonatype.com/t/manage-ui-system-capabilities-via-rest-api/5750

[2021-01-22 16:19] anmoel commented on #57
https://issues.sonatype.org/browse/NEXUS-26196

[2021-02-09 16:00] ThinkBriK commented on #90
We will look into this right now !

[2021-02-19 16:55] #84 closed

[2021-04-04 00:41] ziurjam opened #100 "Add support to enable and disable anonymous user access"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
Disable and anonymous user in nexus

**Additional context**
Add any other context or screenshots about the feature request here.

[2021-04-06 11:26] Jfmask opened #101 "Errors when changing or deleting resources: Put: EOF"
Hello.

Thank you for the great Nexus management tool, which helps a lot with our work.

However, we have encountered problems when updating or deleting resources.

**Describe the bug**

When resources are changed and Terraform is restarted, errors like the following occurs:

[code]

Running the same command again successfully removes or modifies resources.

The problem occurs not only with Nexus

[2021-04-06 12:49] anmoel commented on #100
Hello @ziurjam,

thanks for your report.
We will add this requested feature to our list and will implement them in the next few weeks.

regards
André

[2021-04-06 13:47] anmoel commented on #101
Hi @Jfmask,

can you please describe your environment so we can try to reproduce this bug?

Or set the environment variable `TF_LOG` to `DEBUG` and attach the output to this ticket.

regards
André

[2021-04-06 15:05] Jfmask commented on #101
@anmoel, thank you for the quick response. I have added a link to the debug log.

[2021-04-30 09:50] Jfmask commented on #101
I have updated the first post with non-expiring link to log with error messages: https://pastebin.com/raw/QSq0pPcA

[2021-06-08 22:57] mpailloncy opened #102 "Support for Google Cloud Storage blobstore"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

It's currently not possible to define blobstore of type Google Cloud Storage.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

Would be great to have support for it.

**Describe alternative

[2021-06-22 14:19] Jfmask commented on #101
I think, the reason is the following: https://github.com/travelaudience/nexus-proxy/issues/26
We use that Helm Chart to provision Nexus with Nexus Proxy, thus proxy can drop requests from the terraform-provider-nexus.

[2021-06-22 14:19] #101 closed

[2021-06-24 08:13] sonu27 opened #105 "Support for Azure Blob Storage"
It would be nice to have support for Azure Blob Storage.

This feature was added in Nexus 3.30.0.

Support will need to be added to `go-nexus-client` first.

Is this in the pipeline?

[2021-07-13 13:10] alexconlin opened #107 "Can't update default maven-public repository"
A standard install of nexus-oss comes with a default maven2 group repository "maven-public".

I attempted to add a repository to this group using the provider with a configuration like this:

[code]

and received the following error:

`could not create repository 'maven-public': HTTP: 400, "Cannot index record #17:8: found duplicated key 'maven-public' in index 'repository_repository_name_idx' pre

[2021-07-30 20:07] SebTardif opened #108 "full destroy fail to remove repo"
nexus_repository.quay_iso: Destroying... [id=quay.io]
nexus_repository.iron-bank-docker: Destroying... [id=iron-bank-docker]
╷
│ Error: could not delete repository 'iron-bank-docker': HTTP: 500, ERROR: (ID 1331a125-7e63-4ea3-bd33-7725d5967439) org.sonatype.goodies.common.MultipleFailures$MultipleFailuresException: Failed to delete facets; 1 failure
│
│
╵
╷
│ Error: could not delete repository 'qua

[2021-07-31 12:24] SebTardif opened #109 "Missing option for Docker Proxy: Foreign Layer Caching"
https://help.sonatype.com/repomanager3/formats/docker-registry/foreign-layers

[2021-08-13 11:53] anmoel commented on #108
HI @SebTardif,

thanks for your contribution.

Is the nexus repository manager 3 also managed by terraform and was first destroyed?
Do you have some example, how to reproduce this error.

thanks in advance and regards
André

[2021-08-13 12:03] anmoel commented on #107
hi @alexconlin,

thanks for your contribution.
The error message is an expected behavior, because the the repository already exists.

To meet your expectations we have to install an update process for existing repositories.
So i will change the tag from bug to enhancement and add this feature to our implementation list.

it would be nice if you can support.

thanks in advance and kind regards
Andr

[2021-08-13 16:06] #82 closed

[2021-08-13 16:09] anmoel commented on #82
@Skaronator

please test with vesion v1.13.1 and reopen again if needed

[2021-08-13 16:10] Skaronator commented on #82
Thanks for fixing! :)

[2021-08-13 16:19] anmoel commented on #82
@Skaronator
sry for the huge delay. we will increase our development time for this provider in the next time

[2021-08-13 16:21] Skaronator commented on #82
No worries. It's great that you guys dedicate time in a open source free product.

[2021-08-15 09:09] SebTardif commented on #108
We noticed tat the error doesn't happen if the storage is using default. So the problem occur when the storage have been set to a different value.

[2021-08-17 11:50] qube222pl commented on #57
Feature implemented in Nexus version 3.30

[2021-08-17 13:47] anmoel commented on #100
hi @ziurjam,

sry for the huge delay.
This feature is implemented in version 1.14.0.

i will close this issue.

regards
André

[2021-08-17 13:47] #100 closed

[2021-08-18 07:40] anmoel commented on #57
Hi @qube222pl,

thanks for this information.
I will remove the label "blocked" and change the prio.
I hope, we can implement this in the next few weeks.

regards
André

[2021-08-18 07:55] anmoel commented on #83
https://issues.sonatype.org/browse/NEXUS-13321

[2021-09-16 16:11] anmoel opened #117 "Rename resource nexus_content_selector -> nexus_security_ content_selector"
Within the Nexus API security management has been placed after the /security/ subpath.
This has also been considered in the naming of security_ldap and security_realms. Since users is part of the security management it would make sense to rename this resource too.

[2021-09-24 13:36] fad3t opened #118 "Ability to import existing resources"
Hello,

Are there any plans to add support for the import of resources in the future?
I didn't see any reference to it in the documentation, and the `terraform import` command for `nexus_` resources returns an error, so I believe this part isn't implemented yet.
This provider is great (thx for this) and it would be nice to be able to manage existing resources as well.

Fred.

[2021-09-24 15:56] anmoel commented on #118
Hi Fred,

Thanks for your message. I will add this behaviour to our implementation list. At this moment we working on a refactoring of the repository resource. This work will released as new major version and after this big change, we can start the implementation of import features.

Regards
André

[2021-09-26 07:01] ltagliamonte opened #119 "ignore_changes is not respected"
I have the following repo definition:
[code]

Ignore_changes seems to be respected because my terraform plan reports:
[code]

[code]

[2021-10-07 10:34] stevie- opened #120 "Better Documentation for local development"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what todo to get the local development running.

**Describe the solution you'd like**
Documentation with example commands.

**Describe alternatives you've considered**
None

**Additional context**
None

[2021-10-07 11:28] fabrue opened #121 "Resource and data source nexus_repository_npm_hosted"

[2021-10-07 11:28] erickD83 opened #122 "Resource and data source nexus_blobstore_azure"

[2021-10-07 11:34] ruedigerblock opened #123 "Resource and data source nexus_repository_yum_hosted"

[2021-10-07 11:35] erickD83 opened #124 "Resource and data source nexus_repository_docker_hosted"

[2021-10-07 11:47] anmoel opened #125 "Resource and data source nexus_repository_apt_proxy"

[2021-10-07 13:56] LuckyDucky583 opened #128 "Resource and data source nexus_repository_maven_hosted"

[2021-10-07 14:02] fuerst-ede opened #129 "Resource and data source nexus_blobstore_file"

[2021-10-07 14:13] #120 closed, assigned to stevie-ops

[2021-10-07 16:56] fuerst-ede opened #132 "Resource and data source nexus_blobstore_s3"

[2021-10-14 09:41] do360now opened #134 "Option to set NuGet Proxy Protocol Version"
We are trying to use the option of V2 for the NuGet Proxy Protocol Version, but in terraform resource "nexus_repository" "nuget_proxy" this option is not available.  Or, is it?
Please let me know if you need more information.
Thanks!

[2021-10-28 03:03] mpailloncy opened #135 "nexus_repository - support bearerToken authentication type"
**Is your feature request related to a problem? Please describe.**

It's currently not possible to set type="bearerToken" of the http_client/authentication block for nexus_repository:

[code]

When trying to apply, it fails with:

datadrivers/nexus version: 1.14.0

**Describe the solution you'd like**

As it's an option available in Nexus3, would be great to have it available via datadrivers/nexus

[2021-10-29 15:25] phlegx opened #136 "Import user functionality"
Would be nice to have an import functionality for the `nexus_security_user`

[2021-11-04 17:07] abby-gourlay opened #137 "Roles always showing as having changes"
**Describe the bug**
I've created roles on Nexus but on each plan terraform thinks there's changes to be made. From reading #63 it seems like a regression as that's exactly the same behavior I'm getting where the description and name are the ID, and all the privilege's are set to be added

[code]
Currently using
Nexus Pro 3.32.0-03
Terraform v1.0.6
on linux_amd64
+ provider registry.terraform.io/d

[2021-11-12 08:49] marcelobartsch opened #138 "Add a timeout option when creating the client for nexus"
**Is your feature request related to a problem? Please describe.**
In our setup, we are connected to an LDAP server which have a huge number of users/groups and also is located geographically distant from the nexus server , so when creating roles mapped to LDAP groups it works, but when refreshing , it fails with a timeout

Error: Get "https://xxxxxxxxxxxxx/service/rest/v1/security/roles": context

[2021-11-22 17:57] jdelee opened #139 "Role resource refresh causes repeated enumeration of all roles"
when performing refresh on roles, the call to the nexus client uses an api endpoint that enumerates ALL roles and then parses them for a specific id, rather than selectively gathering data about a specific role.
This results in extremely high latency API responses when the backend is enumerated repeatedly.
e.g. when using LDAP roles, nexus must enumerate all roles in LDAP at each call producing lo

[2021-11-23 17:14] jdelee commented on #139
[https://github.com/datadrivers/terraform-provider-nexus/issues/138](#138 related)

[2021-11-23 17:15] jdelee commented on #138
[related to #139](https://github.com/datadrivers/terraform-provider-nexus/issues/139)

[2021-11-23 18:41] jdelee commented on #139
after talking with sonaytpe support they suggested using the source=default query parameter to /v1/security/roles to prevent enumeration of LDAP groups, the Roles returned via that method are just the ones we have created via a resource.nexus_role which to me seems like what we want.

[2021-12-06 17:32] MG2R opened #140 "nexus_repository member_names list order not adhered to"
**Describe the bug**
The order of member_names in my repository group is not adhered to. Repositories are seemingly randomly (though deterministically) ordered upon creation, after which the order is never enforced again.

**To Reproduce**
Using provider version 1.14.0, Terraform 0.14.

Define a repository group:
[code]

The plan for this lists the `member_names` as
[code]
This order seems sorted

[2021-12-09 04:22] mpailloncy opened #141 "nexus_repository resource - http_client block is optional in the doc, but not in reality"
**Describe the bug**
A clear and concise description of what the bug is.

The [documentation for nexus_repository](https://registry.terraform.io/providers/datadrivers/nexus/latest/docs/resources/repository#http_client) states that _http_client_ block is optional, while it's actually required by the provider.

**To Reproduce**
Steps to reproduce the behavior:
1. Given this _nexus_repository_ defini

[2021-12-10 10:23] anmoel commented on #137
Hi @abby-gourlay,

thanks for your report.
Unfortunately i can't reproduce this problem with following code:
[code]

[2021-12-10 14:39] #134 closed

[2021-12-12 12:07] mykelalvis-rialtic opened #148 "Creating m2 group with `version_policy = "SNAPSHOT"` produces a group repo with version policy as `Release`"
**Describe the bug**
`terraform plan` tells me the following as part of the attached TF files run (this is a subset)

[code]

**To Reproduce**

1. modify [obv.tf.zip](https://github.com/datadrivers/terraform-provider-nexus/files/7698670/obv.tf.zip) contents to give the group some actual member repos that exist
2. terraform apply
2. see that `op2-snapshot-group-m2` is of type `Release`

**Expected

[2021-12-12 19:00] anmoel commented on #141
Hi @mpailloncy ,

thanks for your report.
The nexus api required the http_client block.
We will fix the documentation and in the near future we will split all repository types into their own resources.
This way it is better documented and we can deal with it better.

regards
André

[2021-12-12 20:22] anmoel commented on #148
hi @mykelalvis-rialtic,

thanks for your report.
Unfortunately the nexus api does not support maven options for creating a maven group.

here is the important excerpt from api version 3.37:
[code]
I will open a request at sonatype for the this feature in the api

regards
André

[2021-12-12 20:41] anmoel commented on #148
Issue at nexus jira is created. here: https://issues.sonatype.org/browse/NEXUS-30501

[2021-12-12 23:17] mykelalvis-rialtic commented on #148
So...to be clear....the Nexus API forces you to select an option that cannot be changed at a later date.  #genius 😄

[2021-12-12 23:20] mykelalvis-rialtic commented on #148
And just so everyone understands why, it appears that if I set the version_policy to release, then it only resolves releases.  Thus a true snapshot group seems effectively impossible to produce with this provider at the present time.

[2021-12-13 06:25] #141 closed

[2021-12-13 08:21] #57 closed

[2021-12-13 08:54] anmoel commented on #135
Hi @mpailloncy,

the feature request is implemented in version v1.15.0.
Please check this feature and reopen this issue or create a new if it doesn't work.

regards
André

[2021-12-13 08:54] #135 closed

[2021-12-13 08:56] anmoel commented on #141
this feature is implemented in version v1.15.0

[2021-12-13 08:58] anmoel commented on #134
Hi @do360now,

thanks for your report.
This feature is implemented in version v1.15.0.
Please test this feature and reopen this issue if it don't work.

regards
André

[2021-12-13 10:13] MG2R opened #156 "Support attaching a routing rule to repositories"
**Is your feature request related to a problem? Please describe.**
I can't attach routing rules to a `nexus_repository`. This makes it so I have to manually adjust repositories after creating them

**Describe the solution you'd like**
I'd like to be able to set a `routing_rule_id` or similar parameter and have Terraform add the routingRuleId to the repository in Nexus

**Describe alternatives you'

[2021-12-14 23:53] EugenMayer opened #158 "BearerToken authentication not possible - missing parameter documentation / validation?"
When using bearerToken as an `type` for authentication, I get an errro

[code]
if I then set

[code]

I then get an

[code]
If I set the `username` or `password` the former error appears.

Is bearerToken not properly exposed / parsed as a parameter in http_client.authentication but required?

[2021-12-16 17:03] EugenMayer commented on #29
If `write_policy` is set nevertheless, it leads to no errors but rather is simply not applied and will trigger an update on each new apply (since it cannot be applied). Not critical in this sense, but was surprising to me until i found this issue and it became obvious that it should not be set at all

[2021-12-16 17:04] EugenMayer commented on #136
What does import mean here? You can import a state via terraform already, anything else would be unusual to be done by the provider. Since there is a data resource for users already, i'am not sure what an 'import' would be here - could you explain?

[2021-12-23 15:00] EugenMayer commented on #158
Any chance to move this forward, this really blocks us. Sorry!

[2021-12-23 15:09] EugenMayer commented on #158
I guess we will to patch https://github.com/datadrivers/terraform-provider-nexus/blob/master/nexus/data_source_repository.go#L146 to add something like `token` - but how to make this conditional? Or is this not actually done in the provider but let open to the API of the nexus REST server to error, if token is used auth ntlm or whatever?

[2021-12-23 18:08] ruedigerblock commented on #158
Moin,
can you add the Terraform Resource Code as a comment, so we can reproduce the issue ?

[2021-12-23 18:10] EugenMayer commented on #158
You mean the resource defintion, sure:

[code]

That should be it. So the point is, type can be `bearerToken` but then there is no way to set the actual `token`

[2021-12-23 19:17] ruedigerblock commented on #158
Thank You.
I pulled the latest Image, now I run Nexus PRO 3.37.1-01. I see that -- when I create a new npm repository -- I can select Preemptive Bearer Token as a authentication method. However, this option is not implemented in the REST API.
You can check for yourself. The authentication block of the npm proxy repository route only supports ntlm and username.
I do not know why this is the case, b

[2021-12-23 21:56] EugenMayer commented on #158
@ruedigerblock interesting - thank you a lot for your effort! I was not aware that this API is not available yet.

Which endpoint did you scan for that check? I recall nexus has an build in rest browser, but what endpoint are you referring too?
I'am asking just because I would scan that REST endpoint on every update and report back if that is introduced.

[2021-12-24 00:27] anmoel commented on #158
I have created this issue at Sonatype: https://issues.sonatype.org/browse/NEXUS-30725

[2021-12-24 08:31] EugenMayer commented on #158
Thank you. The ticket seems to be private (for now) - I cannot access it. Maybe they make it public after a review. Thank you for caring about it

[2021-12-27 08:49] ruedigerblock commented on #158
I think this is what you should monitor: `curl localhost:8081/service/rest/swagger.json | jq '.definitions.HttpClientConnectionAuthenticationAttributes.properties.type.enum'`

[2021-12-27 12:34] EugenMayer commented on #158
@ruedigerblock thank you once again!

[2021-12-28 15:27] anmoel opened #162 "Implement the component-block in all new repository resources"
i'm missing the component block

_Originally posted by @anmoel in https://github.com/datadrivers/terraform-provider-nexus/pull/159#r775848461_

[2021-12-29 08:51] ClissonFlorian commented on #134
Hi @anmoel ,

It does not work. Actually when you set the value nuget_version to "V2", the terraform provider apply "V3".

Note : The provider detect properly that the nuget_version is not the one expected.

nuget_proxy {
    query_cache_item_max_age = "3600"
    nuget_version = "V2"
  }

[2022-01-02 11:49] anmoel commented on #136
we add the documentation of the import commands in the next release. v1.16.0

[2022-01-02 11:56] #129 closed

[2022-01-02 11:56] #123 closed

[2022-01-02 12:25] anmoel commented on #118
we add the documentation of the import commands in the next release. v1.16.0

[2022-01-02 17:00] ClissonFlorian opened #165 "impossible to set V2 as value for the nuget_version paremeter"
Hi @anmoel ,

It does not work. Actually when you set the value nuget_version to "V2", the terraform provider apply "V3".

Note : The provider detect properly that the nuget_version is not the one expected.

nuget_proxy {
    query_cache_item_max_age = "3600"
    nuget_version = "V2"
  }

_Originally posted by @ClissonFlorian in https://github.com/datadrivers/terraform-provider-nexus/issues/134#is

[2022-01-02 17:50] anmoel commented on #165
Hi @ClissonFlorian,

thanks for your Report. Unfortunately there is a bug in the nexus REST API.
We must wait for a new nexus version which includes the fix of this issue: https://issues.sonatype.org/browse/NEXUS-28791

kind regards
André

[2022-01-02 18:44] anmoel commented on #68
I close this stale issue. Please reopen if this error still exists

[2022-01-02 18:44] #68 closed

[2022-01-03 07:30] #117 closed

[2022-01-04 14:21] #132 closed

[2022-01-04 14:21] #139 closed

[2022-01-05 11:03] #69 closed

[2022-01-05 20:41] chewrocca opened #171 "Error: Plugin did not respond"
**Describe the bug**
The plugin encountered an error, and failed to respond to the plugin.(*GRPCProvider).ApplyResourceChange call.

This is after upgrading the provider to 1.16.0.

**To Reproduce**
Steps to reproduce the behavior:
ran `terraform plan` and then during `terraform apply` it fails with things such as the following;

[code]

[code]

**Additional Info**

[code]

[2022-01-06 07:57] anmoel commented on #171
Hi @chewrocca,

thanks for your report.
I found the error and it should be fixed in version 1.16.1
please check this and reopen the ticket if it still exists.

regards
André

[2022-01-06 07:57] #171 closed

[2022-01-06 14:39] chewrocca opened #173 "Error: could not create repository"
**Describe the bug**
Terraform doesn't appear to create a repository.  It complains about ID which I think is "read-only".

**To Reproduce**
Steps to reproduce the behavior:
added the following config:

[code]

did tf plan and apply and it errored out with:

[code]

**Expected behavior**
I wasn't expecting it to error out.

[2022-01-06 17:09] anmoel commented on #173
hi @chewrocca

thanks for your report.
The problem itself is due to the missing field with the id "timeout". This value must be defined in the connection block of the http client.

Are you using the latest version from the provider and if so, is this error due to the update or is it a new resource?
We have changed the backend client and we don't have tests for all possible repository types with al

[2022-01-06 17:11] chewrocca commented on #173
thanks, i was just testing that out.  sounded like that was an optional field.

closing issue.

[2022-01-06 17:11] #173 closed

[2022-01-06 17:14] anmoel commented on #173
hi @chewrocca,

yes, this timeout field must be optional, because some repository types have this field as optional value and some like docker requires this value. that's the cause we decide to split up the resource nexus_repository.

regards André

[2022-01-07 06:51] anmoel commented on #136
it is implemented. use [v1.16.1](https://github.com/datadrivers/terraform-provider-nexus/releases/tag/v1.16.1) or greater

[2022-01-07 06:51] #136 closed

[2022-01-07 06:53] anmoel commented on #118
it is implemented. use [v1.16.1](https://github.com/datadrivers/terraform-provider-nexus/releases/tag/v1.16.1) or greater

[2022-01-07 06:53] #118 closed

[2022-01-10 08:55] anmoel commented on #162
is implemented and is usable in the next version (v1.17.0)

[2022-01-10 08:55] #162 closed

[2022-01-11 06:41] anmoel opened #176 "Resource and data source nexus_repository_apt_hosted"

[2022-01-21 19:59] anmoel opened #181 "Resource and data source nexus_blobstore_group"

[2022-01-23 16:42] anmoel commented on #119
Hi @ltagliamonte,

thanks for your report, can you please use and test the new resource `nexus_blobstore_s3` with the latest version of our provider.

kind regards
André

[2022-01-24 07:39] #125 closed

[2022-01-24 08:42] #105 closed

[2022-01-24 08:42] #122 closed

[2022-01-24 08:42] #181 closed

[2022-01-24 09:02] #124 closed

[2022-01-24 21:04] anmoel opened #184 "Resource and data source nexus_repository_docker_proxy"

[2022-01-24 21:04] anmoel opened #185 "Resource and data source nexus_repository_docker_group"

[2022-01-25 10:29] #184 closed

[2022-01-27 06:46] anmoel opened #188 "Resource and data source nexus_repository_yum_group"

[2022-01-27 07:44] #185 closed

[2022-01-31 07:54] anmoel opened #191 "Resource and data source nexus_repository_yum_proxy"

[2022-01-31 08:59] #176 closed

[2022-02-08 07:39] #191 closed

[2022-02-11 12:01] ranebull opened #196 "Mistake in provider documentation"
Hello!
I see mistake in document https://registry.terraform.io/providers/datadrivers/nexus/latest/docs/resources/security_realms.
Import example need `terraform import nexus_security_realms.example active` not `ldap_realms`.

Thank you!

[2022-02-11 12:12] anmoel commented on #196
Hi @ranebull,

thank you for the usage of our provider and your request. The documentation for the import command will be fixed in the next release.

regards
André

[2022-02-11 13:50] #196 closed

[2022-02-11 18:08] TrueTechy commented on #137
Hi there,

Apologies for the major delay in response.

I was finishing up importing our instances into terraform this week and noticed that in the API responses for only some of our roles we have multiple enteries, one which says the source is default, and the other LDAP (which we do use for authentication)

[code]
This is one of the roles that keeps showing as having changes required. I looked at

[2022-02-16 10:50] MateuszKuchniak-TomTom opened #198 "Importing existing repo fails"
**Describe the bug**
I already have configured repositories in nexus and would like to import them to terraform state file but it fails with message:

While attempting to import an existing object to "nexus_repository.myrepo", the provider detected that no object exists with the given id. Only pre-existing objects can be imported;
│ check that the id is correct and that it is associated with the p

[2022-02-18 08:36] anmoel commented on #198
hi @MateuszKuchniak-TomTom,

thanks for your report.
Unfortunately, the resource nexus_repository is almost deprecated.  We are working on the split up of this resource.
So we don't want to invest time in the resource.
Which type and format of repository do you want to manage?

Maybe i can prioritize the creation of the needed resource.

kind regards
André

[2022-02-25 03:12] fisherdept opened #200 "Create resource "Tasks""
Will there be a "task" type resource implementation? if so, when is it planned?

[2022-02-28 07:23] SebastianJ91 opened #201 "Add a ressource to manage group memberships"
As the group membership can only be managed via nexus_security_user ressource for now, it's not possible to add existing LDAP users to groups.

So please create a ressource to map existing users from data source to groups.

[2022-03-01 12:41] MateuszKuchniak-TomTom commented on #198
Hi @anmoel

These are all maven repositories. From what I've seen, maven repos has not been split yet.

Kind Regards

[2022-03-12 10:24] dampsoft-david opened #205 "document nexus_repository_docker_proxy not up to date"
**Describe the bug**
Example Usage of Resource `nexus_repository_docker_proxy` is not up to date in documentaion
Provider Version 1.18.0 was used.

[code]

 shoud be
[code]

[2022-03-14 14:36] abondoe opened #208 "Error: Plugin did not respond"
**Describe the bug**
I'm trying to change the password of a user.

**To Reproduce**
Steps to reproduce the behavior:
1. I'm using plugin 1.18.0
[code]
2. With Sonatype Nexus 3.38.0-01
3. I've imported the admin user, and trying to change the password
[code]
4. The password gets changed but apply ends with an error
5. See error
[code]

**Expected behavior**
Apply finishes without any errors

[2022-03-16 08:19] anmoel commented on #205
thanks for your patch. it will be available in the next release

[2022-03-16 08:22] #205 closed

[2022-03-16 08:38] anmoel commented on #208
Hi @abondoe,

thanks for your response. we will test your szenario with our provider and the new nexus version.

[2022-03-18 12:23] mirisu2 opened #212 "panic: runtime error: index out of range [0] with length 0"
**Describe the bug**
I'm trying to create nexus_repository_apt_proxy resource. But it fail.

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
I expected a resource is created.

[2022-03-18 16:00] mirisu2 commented on #212
It is strange behavior, but if I add **optional** param `http_client {}` into `nexus_repository_apt_proxy` block - I have success

[2022-04-03 19:39] TrueTechy commented on #137
@anmoel I managed to get the change I was suggesting tested.

We're currently using an older version of the provider so I tested it with that, but I changed the following line https://github.com/datadrivers/go-nexus-client/blob/b394aac8fb8dd96f6b95bdb48947c81cf0ef8e86/role.go#L52 to

`body, resp, err := c.Get(rolesAPIEndpoint + "?source=default", nil)`

and that has allowed the provider to see tha

[2022-04-18 13:52] iakovlevk opened #217 "Add the ability to use custom repository format (composer)"
We are trying to create a composer repository, but we are getting the following error:

**expected format to be one of [apt bower conan docker gitlfs go helm maven2 npm nuget p2 pypi raw rubygems yum], got composer**

nexus-composer-plugin is being developed by the community. Can you add support for it?

[2022-05-02 07:10] SebastianJ91 commented on #212
The same happens for me on nexus_repository_docker_proxy ressource.

[2022-05-27 16:01] SomniVertix opened #226 "How to create nexus cleanup policy"
**Describe the bug**
Not sure if its a bug or if I'm just missing something, but I can't seem to find where to **define/create** cleanup policies?

**Expected behavior**
Use of terraform provider to cleanup policies

[2022-06-09 06:46] anmoel opened #231 "Resource and data source nexus_repository_npm_proxy"

[2022-06-09 06:46] anmoel opened #232 "Resource and data source nexus_repository_npm_group"

[2022-06-13 05:47] anmoel commented on #165
Hi @ClissonFlorian,

the sonatype dev team fixed the bug in the last versions. I add a test for the nuget version and it is working now

regards
André

[2022-06-13 05:48] #165 closed

[2022-06-13 05:53] anmoel commented on #29
we split the repository resource in seperated resources for each repo type and format. please use the new resources. i close this issue.

[2022-06-13 05:53] #29 closed

[2022-06-13 05:55] anmoel opened #235 "Resource and data source nexus_repository_maven_proxy"

[2022-06-13 05:55] anmoel opened #236 "Resource and data source nexus_repository_maven_group"

[2022-06-13 05:57] anmoel commented on #15
we create a project for this issue and creates a task for each repository resource / data source. The importants repos are created. i will close this issue.

link to project: https://github.com/datadrivers/terraform-provider-nexus/projects/2

[2022-06-13 05:57] #15 closed

[2022-06-13 07:53] #128 closed

[2022-06-13 08:06] #236 closed

[2022-06-13 11:59] anmoel opened #239 "Use group deploy object for npm group repsitory"

[2022-06-13 12:05] #121 closed, assigned to fabrue

[2022-06-13 12:05] #231 closed

[2022-06-13 12:05] #232 closed

[2022-06-13 15:48] anmoel opened #242 "Resource and data source nexus_repository_nuget_proxy"

[2022-06-13 15:48] anmoel opened #243 "Resource and data source nexus_repository_nuget_hosted"

[2022-06-13 15:48] anmoel opened #244 "Resource and data source nexus_repository_nuget_group"

[2022-06-13 15:48] anmoel opened #245 "Resource and data source nexus_repository_raw_group"

[2022-06-13 15:48] anmoel opened #246 "Resource and data source nexus_repository_raw_hosted"

[2022-06-13 15:48] anmoel opened #247 "Resource and data source nexus_repository_raw_proxy"

[2022-06-13 15:48] anmoel opened #248 "Resource and data source nexus_repository_go_group"
belongs to #15

[2022-06-13 15:49] anmoel opened #249 "Resource and data source nexus_repository_go_proxy"
belongs to #15

[2022-06-13 15:49] anmoel opened #250 "Resource and data source nexus_repository_p2_proxy"
belongs to #15

[2022-06-13 15:49] anmoel opened #251 "Resource and data source nexus_repository_rubygems_group"

[2022-06-13 15:49] anmoel opened #252 "Resource and data source nexus_repository_rubygems_hosted"

[2022-06-13 15:49] anmoel opened #253 "Resource and data source nexus_repository_rubygems_proxy"

[2022-06-13 15:49] anmoel opened #254 "Resource and data source nexus_repository_pypi_group"

[2022-06-13 15:49] anmoel opened #255 "Resource and data source nexus_repository_pypi_hosted"

[2022-06-13 15:49] anmoel opened #256 "Resource and data source nexus_repository_pypi_proxy"

[2022-06-13 15:49] anmoel opened #257 "Resource and data source nexus_repository_conda_proxy"
belongs to #15

[2022-06-13 15:49] anmoel opened #258 "Resource and data source nexus_repository_gitlfs_hosted"

[2022-06-13 15:49] anmoel opened #259 "Resource and data source nexus_repository_cocoapods_proxy"
belongs to #15

[2022-06-13 15:50] anmoel opened #260 "Resource and data source nexus_repository_conan_proxy"
belongs to #15

[2022-06-13 15:50] anmoel opened #261 "Resource and data source nexus_repository_bower_proxy"

[2022-06-13 15:50] anmoel opened #262 "Resource and data source nexus_repository_bower_hosted"

[2022-06-13 15:50] anmoel opened #263 "Resource and data source nexus_repository_bower_group"

[2022-06-13 15:50] anmoel opened #264 "Resource and data source nexus_repository_helm_proxy"
belongs to #15

[2022-06-13 15:50] anmoel opened #265 "Resource and data source nexus_repository_helm_hosted"
belongs to #15

[2022-06-13 15:50] anmoel opened #266 "Resource and data source nexus_repository_r_proxy"

[2022-06-13 15:50] anmoel opened #267 "Resource and data source nexus_repository_r_hosted"

[2022-06-13 15:50] anmoel opened #268 "Resource and data source nexus_repository_r_group"

[2022-06-13 16:45] mkyc opened #269 "plugin fails on second run"
**Describe the bug**
When running `terraform apply` second time I get error presented later.

**To Reproduce**
terraform script (more or less what I have):

[code]

On second run I get:

[code]

**Expected behavior**
work :)

[2022-06-13 17:44] #255 closed

[2022-06-13 18:47] #242 closed

[2022-06-13 18:47] #243 closed

[2022-06-13 18:47] #244 closed

[2022-06-14 06:45] #266 closed

[2022-06-14 06:45] #267 closed

[2022-06-14 06:45] #268 closed

[2022-06-14 07:20] #251 closed

[2022-06-14 07:20] #252 closed

[2022-06-14 07:20] #253 closed

[2022-06-14 07:22] anmoel opened #274 "Create Deprecation warning for repository"

[2022-06-14 14:37] #274 closed

[2022-06-14 16:01] anmoel commented on #269
hi @mkyc,

you must set al list of all active security realms.
With this following example you deactivate all realms except DockerToken:
[code]

I hope this explains the behavior.

regards
André

[2022-06-14 16:08] anmoel commented on #269
please use this example.
[code]

We will improve the documentation.

[2022-06-15 06:09] #261 closed

[2022-06-15 06:09] #262 closed

[2022-06-15 06:09] #263 closed

[2022-06-15 10:41] mkyc commented on #269
@anmoel thanks for this! That was exactly the case! And - yes - documentation note about required realms would be huge help here. Feel free to close this issue if you want.

[2022-06-15 12:04] anmoel opened #280 "Add attribute content_disposition to Raw repository resources"
**Is your feature request related to a problem? Please describe.**
Support of attribute content_disposition in all resources and data sources "nexus_repository_raw_*".

**Describe the solution you'd like**
example:
[code]

[2022-06-15 12:05] anmoel commented on #280
it is blocked by sonatype issue https://issues.sonatype.org/browse/NEXUS-30750

[2022-06-15 13:00] #245 closed

[2022-06-15 13:00] #246 closed

[2022-06-15 13:00] #247 closed, assigned to anmoel

[2022-06-15 13:02] anmoel commented on #269
the documentation will improved in the next release

[2022-06-15 13:02] #269 closed

[2022-06-15 14:14] anmoel commented on #226
hi @SomniVertix.

This is not a bug. It's a feature request.
But unfortunately no cleanup policies can be created via the REST API yet.
I will create a feature request at sonatype

[2022-06-15 14:17] anmoel commented on #217
Hi @iakovlevk,

i will discuss this with the team-
But we are currently working on splitting the repository resource and data source.
Only after this separation will we start supporting community resources.

regards
André

[2022-06-15 14:52] anmoel commented on #212
hi,

thanks for your PR. We will fix the issue in next time. the http_client should be optional for all proxies.

[2022-06-15 16:00] #212 closed

[2022-06-15 16:09] anmoel commented on #95
Hi @chewrocca,

please use the new resource `nexus_repository_docker_group ` of our latest provider version. This pro feature is implemented in the new resource.

[2022-06-15 16:09] #95 closed

[2022-06-15 16:11] anmoel commented on #200
hi @fisherdept .

Unfortunately no tasks can be created via the REST API yet. It is only possible to list / run or stop tasks.
I will create a feature request at sonatype.

[2022-06-15 16:14] #156 closed

[2022-06-15 16:15] anmoel commented on #81
Hi @Skaronator,

please use the new repository resources.

I will close this issue. Please open a new ticket if a new resource is not working correctly.

[2022-06-15 16:15] #81 closed

[2022-06-15 17:11] anmoel commented on #109
hi @SebTardif,

please excuse my late reply.
Unfortunately this attribute can not be configured via the REST API yet.
I will create a feature request at sonatype.

[2022-06-15 17:15] anmoel commented on #198
Hi @MateuszKuchniak-TomTom,

please check our new releases and try the maven resources.
let me know if it works or not.

regards
André

[2022-06-15 17:38] anmoel commented on #226
private support ticket is created

[2022-06-22 07:22] oysteing opened #287 "Support for assert"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-06-23 06:13] anmoel commented on #287
hi @oysteing,

i checked the api and your request is possible. so we will implement this feature after the major release change (planed for next month).

But you can help and create PRs in this repo and the go-nexus-client repository.

Regards
André

[2022-06-23 20:06] oysteing commented on #287
Hi André,

thanks for the positive response. I will start working on a PR as soon as I find some time available.

Kind regards,
Øystein

[2022-06-24 07:58] #250 closed

[2022-06-24 07:58] #257 closed

[2022-06-24 07:58] #260 closed

[2022-06-24 08:11] anmoel opened #291 "Resource and data source nexus_privilege_repository_view"

[2022-06-24 08:11] anmoel opened #292 "Resource and data source nexus_privilege_script"

[2022-06-24 08:11] anmoel opened #293 "Resource and data source nexus_privilege_wildcard"

[2022-06-24 08:11] anmoel opened #294 "Resource and data source nexus_privilege_repository_admin"

[2022-06-24 08:11] anmoel opened #295 "Resource and data source nexus_privilege_repository_content_selector"

[2022-06-24 08:11] anmoel opened #296 "Resource and data source nexus_privilege_application"

[2022-06-24 08:13] #259 closed

[2022-06-24 16:16] #264 closed

[2022-06-24 16:16] #265 closed

[2022-06-24 16:45] #248 closed

[2022-06-24 16:45] #249 closed

[2022-07-06 14:56] anmoel opened #303 "Support for Components"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-07-16 01:27] darkedges opened #304 "Nexus Repository Manager 3.40.1-01 - HTTP method POST is not supported by this URL"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-07-16 01:50] darkedges commented on #304
Moved bacl to 3.40.0-03 and it exhibits the same issues

[2022-07-16 02:03] darkedges commented on #304
Found that the URL was wrong.
was
[code]
should be
[code]

[2022-07-16 02:04] darkedges commented on #304
Going to close this issue, and leave as a placeholder for anybody else who may experience this issue.

[2022-07-16 02:04] #304 closed

[2022-07-19 07:56] fmereu-bics opened #307 "Could not update repository: PARAMETER timeout must be greater than or equal to 1"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-07-22 11:50] fmereu-bics commented on #307
FYI this seems to affect other repository types as well, got the same error when trying to update a Docker proxy repository.

[2022-07-22 12:12] fmereu-bics commented on #307
And below some detailed output from the run:
[code]

[2022-07-22 14:01] fmereu-bics commented on #307
From what I've seen, the REST API expects either a value (between 1 and 3600) or null (meaning 0) to disable the timeout. I tried to look into the code how this is being handled but couldn't find the relevant piece of code.

[2022-07-26 19:00] dyusupov-express42 opened #311 "Missing field "source" in nexus_security_role. Error while creating nexus_security_role for external role."
### Is there an existing issue for this?

- [x] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-07-29 22:25] pickgr opened #313 "Support for security_ssl_certiticate resource"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-08-02 10:02] iverberk opened #315 "Support for adding (ldap) users to a role"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-08-04 07:10] iverberk commented on #315
I did some investigation and have a working prototype. There are some difficulties however. This resource can be considered a 'virtual' resource. It's a more specific version of the user resource where you only manage the roles and leave all other attributes as-is. The API for managing users is a bit weird unfortunately. If you want to update a user you will have to provide non-empty values for th

[2022-08-05 07:56] fmereu-bics commented on #307
After some more digging, I found out this is due to the behavior of the Nexus Go client.
The Timeout field in the HTTPClientConnection struct is a pointer of int, meaning the omitempty JSON tag doesn't work as expected (it would omit if value is nil, not if it's 0).
I created a PR to address this, hopefully this is the right way to do it: https://github.com/datadrivers/go-nexus-client/pull/100.

[2022-08-20 17:00] stempher commented on #311
fixed https://github.com/datadrivers/go-nexus-client/pull/102

[2022-08-23 15:47] baughj opened #318 "Error: Empty Summary on plan"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-08-23 16:51] mttradebyte opened #319 "Could not create privilege: id parameter must not be blank"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-08-25 14:43] #138 closed

[2022-08-26 09:50] fmereu-bics commented on #319
The error seems to say the `format` parameter is missing, not the ID. Can you try to set the format to `docker`?

[2022-08-26 11:26] mttradebyte commented on #319
Interesting. That seemed to resolve it, but it's listed as an optional attribute in the documentation, as well as when you import them, you don't need to provide the `format` and it doesn't change it. I guess the documentation needs to be updated to specify that it's not optional, however I'm not sure why importing it no longer requires it to be specified in your terraform though. Your terraform s

[2022-09-07 02:52] iJebus commented on #307
As a workaround until that PR is merged, setting timeout >= 1 works.

[2022-09-23 12:17] cmanzur opened #324 "Support for nexus_repository_cargo_hosted"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-10-04 06:59] fmereu-bics commented on #307
Any update on this one? Thanks.

[2022-10-17 06:33] #307 closed

[2022-10-17 06:54] anmoel commented on #307
fix is released in version v1.21.1

[2022-10-17 06:58] fmereu-bics commented on #307
great, thanks a lot!

[2022-10-17 07:01] anmoel commented on #307
@fmereu-bics can you test it and reopen the issue if it is not working

[2022-10-17 08:26] fmereu-bics opened #328 "Unable to import pypi-proxy: java.lang.ClassCastException: Cannot cast java.lang.String to java.lang.Number"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-10-17 16:24] anmoel commented on #311
@stempher

can you test the release v1.21.2

[2022-10-17 17:58] fmereu-bics commented on #328
Thx for the quick feedback!
The config of the repo should be standard I guess, I don't think we customized it:
![image](https://user-images.githubusercontent.com/107835702/196248275-c7e7d7fb-a3c2-4bc0-a8c1-0c05cde4e731.png)
And here's the code I'm trying to import into (which is used for other repository types and works Ok):
[code]
The variable file would look like this after the import is done (i

[2022-10-18 06:19] anmoel commented on #328
Hi Fred,

thanks for your code example.
But it is not possible to reproduce your error for me.
can you test this command and send me the error message if exists
`curl -v -X GET -u user:password 'https://bcnexus.bc/service/rest/v1/repositories/pypi/proxy/pypi-proxy'`

[2022-10-18 06:33] fmereu-bics commented on #328
Hi @anmoel,

I had the exact same error message while doing the curl.. I tried on another similar instance and that one was OK..
So I ended up changing a setting in the pypi-proxy repo (e.g. the timeout value) and changing it back to the original value. After this I was able to run the curl command successfully, and import it in Terraform.

I suppose something was wrong in Nexus itself (maybe some

[2022-10-18 06:33] #328 closed

[2022-10-19 11:47] stempher commented on #311
in release v1.21.2 the resource "nexus_security_role" works correctly

[2022-10-19 11:51] anmoel commented on #311
@dyusupov-express42 is your problem fixed?

[2022-10-19 11:53] anmoel commented on #311
the missing argument "source" will implemented soon

[2022-10-25 08:33] anmoel commented on #140
please use the new nexus_repositoy_maven_group resource. this resource is deprecated

[2022-10-26 13:25] ad-software commented on #280
Hi, I am also interested in the parameter content_disposition.
Even with my Sonatype account I could not fine the issue [NEXUS-30750](https://issues.sonatype.org/browse/NEXUS-30750). Is it still a blocker to add the parameter.

Thank you for the development of the provider
Andreas

[2022-10-31 16:04] jtnord opened #335 "nexus_repository_* migration"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Community Note

* Please vote on this issue by adding a :thumbsup: [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or "me too" comments, they generat

[2022-11-01 18:50] criccio commented on #318
@baughj  i was getting this "empty summary" error as well, but it was because i had changed the password on the nexus account i was using, but didn't update the provider setting. Once it was correct it started working again.

[2022-11-01 19:52] pickgr commented on #313
/fresh

[2022-11-02 08:06] #208 closed

[2022-11-02 08:06] #198 closed

[2022-11-02 08:06] #137 closed

[2022-11-02 08:07] #119 closed

[2022-11-02 08:07] #108 closed

[2022-11-02 08:07] #107 closed

[2022-11-09 08:07] #315 closed

[2022-11-22 16:48] abdullahkhawer commented on #200
/fresh

[2022-11-22 16:49] abdullahkhawer commented on #200
Any update on this?

[2022-11-25 08:10] anmoel commented on #319
/fresh
Hi, we start to refactor the privilege resource. It would be splittet into own resources for each format, because the formats have different required parameters